@import "../../configuration.scss";

.ui-calendar-manager {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  border: 1px solid lightgray;

  > .ui-calendar-control {
    @include full-height-box();
    max-width: 300px;
    border-right: 1px solid lightgray
  }

  > .ui-calendar-workspace {
    @include full-height-box();
    flex-grow: 1;
  }

  .ui-mini-month-calendar {
    margin: 10px;

    .control {
      padding: 2px;

      .dropdown-toggle {
        background-color: transparent;
        color: black;
        border: none;
        outline: none;
      }
    }

    .cell {
      display: block;
      width:  13% !important ;
      margin: 2px 0px;
      color:  black;
      background-color: transparent;
    }

    .cell-day {
      color:  blue;
    }

    .cell-selected {
      color:  red;
    }

    .cell-preview {
      color:  gray;
    }
  }

  .ui-month-calendar{
    .cell{
      display: block;
      border: 1px solid #d9d9d9;
      text-align: center;
      width: 14% !important;
      min-width: 100;
      height: 100px;
    }

    .cell-label{
      background-color: aqua;
    }

    .cell-selected{
      background-color: #f5a142;
    }

    .cell-preview{
      background-color: #bababa;
    }
  }

  .ui-week-calendar{
    
    .cell{
      border: 1px solid #d9d9d9;
      text-align: center;
      height: 50px;
    }

    .cell-hour-name{
      height: 50px;
    }

    .cell-day-name{
      background-color: #4287f5;
      width: 14%;
      min-width: 100;
      height: 50px;
    }
    
    .cell-workspace{
      width: 14%;
      min-width: 100;
      height: 50px;
    }

    .cell-selected{
      background-color: #9ff5e9;
    }
  }

  .ui-day-calendar{
    .cell{
      border: 1px solid #d9d9d9;
      text-align: center;
      height: 50px;
    }
  }
}