@import "../../configuration.scss";

.ui-table {
  display: flex;
  flex-direction: column;

  > .toolbar {
    background: #6c757d;
    padding:    1px 2px 0px 2px;
    margin-bottom: 2px;
  }

  > .toolbar-table, .toolbar-tree {
    .ui-search-params .dropdown .dropdown-toggle  {
      color: white;
    }
  }

  > .toolbar-kanban, .toolbar-grid {
    padding:    1px 2px 0px 2px;
    margin-bottom: 5px;
    background: whitesmoke;

    .btn, .dropdouw { font-weight: bold; }

    .btn, .input-group-text, .dropdown {
      background-color: transparent!important;
      color: #337ab7;;
      border: none;
    }

    input { 
      border: none;
      outline:  none;
      border-bottom: 1px solid lightgray;
      border-radius: none;
    }
  }

  > .view {
    height: 100%;

    .header-grid {
      background:#f1f0f0;
      overflow: hidden !important;
    }

    .fixed-column-container {
      .fixed-column-grid {
        overflow: hidden !important;
        background:#f7f9fc;
        border-right: 1px solid lightgray;


        .tree-cell {
          text-align: left;
          background: transparent;
        }
      }
    }

    .column-container {
      .column-grid {
        background-color: white;
      }
    }

    .cell-even-row {
      background: white;
    }

    .cell-odd-row {
      background:#f8f7f7;
    }

    .cell {
      padding: 3px 10px;
      text-align: right;
      white-space:   nowrap;
      overflow:      hidden;
      text-overflow: ellipsis;

      .btn-link { 
        padding: 0px;
        text-align: left;
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important; 
      }
    }

    .cell-text { text-align: left; }

    .select-cell { background: wheat; }
    
    .header-cell {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      padding: 0 0.5em;
      font-weight: bold;
    }
  }

  > .kanban-view {
    @include full-height-box();
  }
}

.ui-vlist {
  @include full-height-box();

  > .navbar {
    .btn { padding: 2px 5px; }

    .input-group-text , input.form-control {
      padding: 2px;
    }
  }

  > .list-view {
    @include full-height-box();
    min-height: 75px;

    .List {
      width: 100%;
      border: 1px solid #DDD;
      outline: none;
    }

    .list-row {
      @include full-height-box();
      padding: 5px 5px;
      background-color: #fff;
      border-bottom: 1px solid #e0e0e0;

    }

    .no-rows {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #bdbdbd;
    }

  }

}

.ui-tree {
  @include full-height-box();

  .ui-vlist {
    @include full-height-box();

    > .list-view {
      @include full-height-box();

      .list-row {
        border-bottom: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .node .btn-link { padding: 0px 2px; }
    }
  }
}

.page-iterator {
  display: flex;
  flex-flow: row-reverse;
  margin: 3px 0px;

  .btn { padding: 5px 5px; }
}

.ui-tree-widget {
  display: flex;
  flex-flow: wrap;
  max-height: 630px;
  overflow-y: auto;

  .btn-tree-widget {
    margin: 5px;
    width: 30%;
    border: 1px solid gray;
    border-radius: 5px;
    height: 60px;

    .btn {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: black;
      border: none;
      padding: 6px;
    }

    .btn:focus, .btn:active {
      outline: none !important;
      box-shadow: none !important;
      background-color: transparent;
    }

    .btn:hover {
      color: white;
    }

    .icon {
      font-size: 0.8rem;
    }
  }
}
