$btn-primary-bg-color: #f9b100;

@mixin debug-border($color) {
  border: 1px dashed $color;
  margin: 2px;
}

@mixin full-height-box() {
  display: flex;
  flex-direction: column !important;
  flex-grow: 1 !important;
}